%p#notice= notice

- if @total > 0
	#topics-list
		%ul
			.col-sm-6
				- @topics_first_half.each do |t_config|
					= render t_config.topic
			.col-sm-6
				- @topics_second_half.each do |t_config|
					= render t_config.topic
- else
	.placeholder
		%p There are no topics!
