%p#notice= notice
%h1 Listing topics

%table
  %thead
    %tr
      %th Title
      
  %tbody
    - @topics.each do |topic|
      %tr
        %td= link_to topic.title, topic
%br

= link_to 'New Topic', new_topic_path
