- if @topic.subject
	%p
		= link_to 'Subject', @topic.subject

= link_to 'New card', new_topic_card_path(@topic)
= link_to 'Study', topic_review_path(@topic, review: 'all')

.cards
	= render @topic.cards