#head
 %link{:href => "http://fonts.googleapis.com/css?family=Lato&effect=shadow-multiple", :rel => "stylesheet", :type => "text/css"}/
 #twitter
  = link_to ' ', login_path(provider: 'twitter')
 %h1
  .font-effect-shadow-multiple Welcome to Aplus
 %h2 A flashcards app that makes your study more effective.

