#head
 %link{:href => "http://fonts.googleapis.com/css?family=Lato&effect=shadow-multiple", :rel => "stylesheet", :type => "text/css"}/
 %h1
  .font-effect-shadow-multiple Welcome to Aplus
 %h2 A flashcards app that makes your study more effective.
 #login
  #twitter
   = link_to ' ', login_provider_path(provider: 'twitter')
  #gmail
   = link_to '', login_provider_path(provider: 'google_oauth2')
  #facebook
   = link_to ' ', login_provider_path(provider: 'facebook')
