development:
  sessions:
    default:
      database: aplus_development
      hosts:
        - localhost:27017
      options:
  options:
    raise_not_found_error: false
test:
  sessions:
    default:
      database: aplus_test
      hosts:
        - localhost:27017
      options:
        read:
          mode: primary
        max_pool_size: 1
  options:
    raise_not_found_error: false

production:
  sessions:
    default:
      uri: <%= ENV['MONGOLAB_URI'] %>
      options:
        max_retries: 30
        retry_interval: 1
        timeout: 15
        refresh_interval: 10
  options:
     raise_not_found_error: false
