development:
  secret_key_base: secret_key_goes_here
  twitter_key: twitter_key_goes_here
  twitter_secret: twitter_secret_goes_here
  google_client_id: google_client_id_goes_here
  google_client_secret: google_client_secret_goes_here

test:
  secret_key_base: secret_key_goes_here
  twitter_key: twitter_key_goes_here
  twitter_secret: twitter_secret_goes_here
  google_client_id: google_client_id_goes_here
  google_client_secret: google_client_secret_goes_here

production:
  secret_key_base: secret_key_goes_here
  twitter_key: twitter_key_goes_here
  twitter_secret: twitter_secret_goes_here
  google_client_id: google_client_id_goes_here
  google_client_secret: google_client_secret_goes_here
