%h2 Review boxes
- if @review_boxes.count() > 0
  #todays_study
    %ul
      - @review_boxes.each do |box_review|
        %li
          - if box_review.review_date < Date.today.to_s
            %span.tag{style: "background-color:red"} Expired
          - if box_review.topic.subject
            %span.tag{style: "background-color:##{box_review.topic.subject.color}"}
              =box_review.topic.subject.code
          %a{href: topic_prepare_review_path(b: box_review.box, topic_id: box_review.topic_id)}
            %span
              = box_review.topic.title
            %span{class: "box b#{box_review.box}"}
- else
  .placeholder
    %p There are no boxes to study today! If you don't have any topics set for reviewing, set some.