%p#notice= notice

- if @total > 0 
  #subjects-list
    %ul
      .col-sm-6
        - @subjects_first_half.each do |s_config|
          = render s_config.subject
      .col-sm-6
        - @subjects_second_half.each do |s_config|
          = render s_config.subject

- else
  .placeholder
    %p There are no subjects! Add subjects for a smarter topic filtering.

- if @collaborating_subjects.count() > 0
  %h3 Collaborating in
  #subjects-list
    %ul
      - @collaborating_subjects.each do |subject|
        = render subject