%p#notice= notice

.row
  - if @total > 0 
    #subjects-list
      %ul
        - @subjects.each do |subject|
          = render subject

  - else
    .placeholder
      %p There are no subjects! Add subjects for a smarter topic filtering.

.row
  - if @collaborating_subjects.count() > 0
    %h3 Collaborating in
    #subjects-list
      %ul
        - @collaborating_subjects.each do |subject|
          = render subject