.subject-options
	- @subject_config.archived ? text = 'Archived' : text = "Archive"
	= link_to text, subject_archive_path(@subject, back: subject_path(@subject)), method: :patch, class: "btn btn-default #{text.downcase} pull-right", id: 'archive'

%h2 Topics

#topics-list
	%ul
		- @topics.each do |topic|
			= render topic