%tr{class: cycle('list_line_odd', 'list_line_even')}
  %td
    %b Question
  %td.content=card.question
  %td
    Box
    =card.box
  %td.small-cell=link_to 'Edit', edit_topic_card_path(card.topic_id, card._id)
  %td.small-cell=link_to 'Delete', topic_card_path(card.topic_id, card._id), :method => :delete, :data => { :confirm => 'Are you sure?' }
%tr
  %td
    %b Answer
  %td{class: 'content', colspan: 4}=card.answer