.card-container
  .values
    .question
      =card.question[0, 20]+"..."
    .answer
      =card.answer[0, 60]+"..."
  .options
    =link_to '', edit_topic_card_path(card.topic_id, card._id), :class => 'btn edit'
    =link_to '', topic_card_path(card.topic_id, card._id), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn destroy'