.card-container
  .side
    %p.front
      =card.front
    %p.back
      =card.back
    - cs = card.card_statistics.find_by(user_id: current_user.id)
    %div
      %span.review_date= "#{t('.review_date')} #{cs.review_date.to_date}"
      .options
        =link_to '', edit_topic_card_path(card.topic_id, card._id), :class => 'icon-btn edit'
        =link_to '', topic_card_path(card.topic_id, card._id), :method => :delete, :class => 'icon-btn destroy-card', style: 'display:none'
        %a.btn.btn-default.destroy.destroy-action.confirm{href:'javascript:void(0)', "data-title": "Delete card", "data-text": "Are you sure you want to delete this flashcard?", "data-confirm-button": "Yes", "data-cancel-button": "Cancel", style: 'border:none;vertical-align:top'}