/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require toastr
 *= require jquery.minicolors
 *= require_tree .
 *= require_self
 */
html, body {
	width: 100%;
	height: 100%;
}
body {
	margin: 0 0;
	padding: 0 0;
	line-height: 1em;
	font-size: 12px;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, span, label, input, textarea, td, th, a, ul, li, ol  {
	margin: 0 0;
	padding: 0 0;
	font-size: 1em;
	line-height: 1em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
}

p, span, label, input, textarea, td, th, a, ul, li, ol {
	margin: 0 0;
	padding: 0 0;
	font-size: 1em;
	line-height: 1em;
	font-family: 'Bitter', serif;
}

textarea {
	background: #fff;
	padding: 5px;
	border: 1px solid #eee;
	resize: none;
	line-height: 1.5em;
}

h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1em;
}
h2, h3 {
	margin-bottom: 0.5em;
}

a {
	text-decoration: none;
}

form {
	label:after {
		content: ":";
	}

	a {
		margin-right: 10px;
	}

	input[type=submit] {
		color: #d42d2d;
		background: none repeat scroll 0% 0% transparent;
	}

	input[type=submit]:hover {
		cursor: pointer;
		cursor: hand;
	}

	label {
		margin-bottom: 0.25em;
	}
}

select {
	font-size: 1em;
	width: 100%;
}

table {
	width: 100%;
	border-collapse: collapse;
	td, th {
		text-align: center;
	}
	tr {
		border-bottom: 1px dashed #dd8;
	}
	.action {
		width: 20px;
	}
}

.actions {
	margin-top: 0.5em;
}

#main-menu {
	height: 100%;
	position: fixed;
	background-color: #1f356f;
	width: 60px;
	z-index: 1;

	a#home {
		margin-left: 5px;

		img {
			width: 90%;
		}
	}

	#profile {
		border-top: 1px solid #fff;
		position: absolute;
		top: 92%;

		button {
			padding: 10px 6px;
			background: transparent;
			border: none;
		}

		img {
			border-radius: 100%;
		}

		ul {
			left: 5px;
			z-index: 1;
		}
	}

	#main-options {
		margin-top: 1em;

		// Buttons icons with their states

		#calendar {
			background: url(asset-path("icons.png")) no-repeat -8px -12px;
			width: 48px;
			height: 48px;
			display: inline-block;
		}

		#calendar:hover, #calendar.active:hover {
			background: url(asset-path('icons.png')) no-repeat -109px -11px;
			width: 48px;
			height: 48px;
			display: inline-block;
		}

		#calendar.active {
			background: url(asset-path('icons.png')) no-repeat -58px -12px;
			width: 48px;
			height: 48px;
			display: inline-block;
		}

		#subjects {
			background: url(asset-path("icons.png")) no-repeat -309px -12px;
			width: 48px;
			height: 48px;
			display: inline-block;
		}

		#subjects:hover, #subjects.active:hover {
			background: url(asset-path('icons.png')) no-repeat -406px -11px;
			width: 48px;
			height: 48px;
			display: inline-block;
		}

		#subjects.active {
			background: url(asset-path('icons.png')) no-repeat -358px -13px;
			width: 48px;
			height: 48px;
			display: inline-block;
		}

		.topics-icon {
			background: url(asset-path("icons.png")) no-repeat -160px -12px;
			width: 48px;
			height: 48px;
			display: inline-block;
		}

		.topics-icon:hover, .topics-icon.active:hover {
			background: url(asset-path('icons.png')) no-repeat -259px -11px;
			width: 48px;
			height: 48px;
			display: inline-block;
		}

		.topics-icon.active {
			background: url(asset-path('icons.png')) no-repeat -210px -12px;
			width: 48px;
			height: 48px;
			display: inline-block;
		}

		#edit {
			background: url(asset-path("icons.png")) no-repeat -94px -76px;
			width: 47px;
			height: 48px;
			display: inline-block;
		}

		#edit:hover, #edit.active:hover {
			background: url(asset-path('icons.png')) no-repeat -189px -76px;
			width: 48px;
			height: 48px;
			display: inline-block;
		}

		#edit.active {
			background: url(asset-path('icons.png')) no-repeat -141px -76px;
			width: 48px;
			height: 48px;
			display: inline-block;
		}

		#cards-icon {
			background: url(asset-path("icons.png")) no-repeat -245px -75px;
			width: 48px;
			height: 48px;
			display: inline-block;
		}

		#cards-icon:hover, #cards-icon.active:hover {
			background: url(asset-path('icons.png')) no-repeat -342px -76px;
			width: 48px;
			height: 48px;
			display: inline-block;
		}

		#cards-icon.active {
			background: url(asset-path('icons.png')) no-repeat -293px -76px;
			width: 48px;
			height: 48px;
			display: inline-block;
		}

		#share-icon {
			background: url(asset-path("icons.png")) no-repeat -455px -12px;
			width: 48px;
			height: 48px;
			display: inline-block;
		}

		#share-icon:hover, #share-icon.active:hover {
			background: url(asset-path('icons.png')) no-repeat -396px -76px;
			width: 48px;
			height: 48px;
			display: inline-block;
		}

		#share-icon.active {
			background: url(asset-path('icons.png')) no-repeat -447px -76px;
			width: 48px;
			height: 48px;
			display: inline-block;
		}

		ul {
			display: inline-block;
		}

		ul li {
			display: inline-block;
			margin: 20px 10px 0;
		}

		.divider {
			margin-top: 25px;
			display: block;
			border-bottom: 1px solid white;
		}

		img {
			width: 90%;
		}		
	}
}

#add-menu {
	text-align: left;
	position: fixed;
	top: 20px;
	right: 40px;
	width: 40px;
	height: 40px;
	background-color: #D42D2D;
	border-radius: 100%;
  box-shadow: #888 0px 2px 3px;

	a {
		width: inherit;
		height: inherit;
		display: inline-block;
		padding: 7px 13px;
	}

	a, a:visited, a:hover, a:focus, a:active {
	  color: white;
	  text-decoration: none;
	}
}

#notification-bell {
	background: url(asset-path('icons.png')) no-repeat -5px -82px;
	width: 36px;
	height: 36px;

	position: absolute;
	top: 20px;
	right: 100px;

	a {
		display: inline-block;
		width: 100%;
		height: 100%;
	}

	.badge {
		position: relative;
		right: -35px;
		top: -10px;
	}
}

.dropdown-menu {
	left: -135px;
}

#main-content {
	width: 96vw;
	height: 100vh;
	margin-left: 60px;
	z-index: 0;
  background-color: #fcfcfc;

	#page {
		width: 100%;
		height: 100%;
		display: inline-block;
		font-size: 2em;
		padding: 1em 1em;
		z-index: 0;

		#yield {
			width: 100%;
			margin-left: 10px;
			display: inline-block;
		}

		.icon-btn {
			display: inline-block;
		}

		.destroy{
			background: url(asset-path("icons.png")) no-repeat -499px -80px;
			width: 26px;
			height: 35px;
		}
		
		.edit{
			background: url(asset-path("icons.png")) no-repeat -504px -18px;
			width: 31px;
			height: 30px;
		}

		#topics-list, #subjects-list {
			ul {
		  	list-style: none;
		  	padding: 0;

		  	li {
		  		display: block;

		  		.label {
		  			margin-right: 10px;
		  		}

		  		#link {
		  			font-size: 0.9em;
		  		}
		  	}

		  	.options {
					position: relative;
					top: -5px;
				}
		  }
		}
	}
}

.welcome {
	.box {
		display: inline-block;
		width: 2em;
		height: 2em;
		vertical-align: bottom;
	}
}

.placeholder {
	color: #666;
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.form-group {
	.description {
		color: #aaa;
		font-size: 0.8em;
		text-align: justify;
	}
}

// Topics, Subjects

.topics, .subjects, .review {
	// Style for all cards displayed in both topics/subjects show
	.cards {
		margin-top: 20px;

		.card-container {
			width: 22%;
			display: inline-block;
			vertical-align: top;
			text-align: center;
			margin: 0.25em;
			height: 7em;

			.side {
				width: 100%;
				height: 100%;
				display: inline-block;
				background-color: #fff;
				border: 1px solid #e8d9f6;
				box-shadow: 0px 2px 3px #ccc;
				line-height: 1em;
				word-wrap: break-word;
				cursor: hand;
				cursor: pointer;

				.front {
					font-weight: bold;
					display: none;
				}
				.back {
					color: #666;
					font-size: 0.6em;
					display: none;
				}

				.front, .back{
					padding: 0.5em 0.2em;
					font-size: 0.7em;
					height: 75%;
					overflow: hidden;
				}

				.active {
					display: block;
				}

				.review_date {
					font-size: 0.5em;
				}

				span {
					display: inline-block;
					width: 70%;
					text-align: left;
				}

				.options {
					vertical-align: top;
					width: 25%;
					display: inline-block;
				}
			}

		}
	}

	// Bootstrap rewrite

	.btn-warning, .btn-danger {
		margin: 15px 0;
	}

	.btn-warning:visited, .btn-danger:visited {
		color: #fff;
	}

	// Style for listing archived topics/subjects
	span.archived {
		font-style: italic;	

		a {
			color: #999 !important;
		}
	}

	// Style for setting review on and off
	a.review {
		color: #0a9d0f;
		border-color: #0a9d0f;
	}

	a.review:hover, a.review:focus {
		color: white;
	  background-color: #0a9d0f;
		border-color: #0a9d0f;
	}

	a.reviewing {
		color: white;
		border-color: #0a9d0f;
	  background-color: #0a9d0f;
	}

	a.reviewing:hover, a.reviewing:focus {
		color: #0a9d0f !important;
	  background-color: transparent !important;
		border-color: #0a9d0f !important;
	}

	// Separate rows of topics and subjects
	.st_row {
		margin: 0;
		margin-bottom: 10px;
		float: left;
		width: 50%;
	}

	.card-row {
		width: 100%;
	}

	span#link {
		a {
			font-size: 0.8em;
		}
	}

	#review, #archive {
		display: inline-block;
	}

	#archive{
		min-width: 87px;
	}
	
	#review{
		min-width: 96px;
	}
}

// Bootstrap rewrite

.btn-default, .btn-default:visited {
	color: #d42d2d;
	border-color: #d42d2d;
	background-color: transparent;
}

.btn-default:hover, .btn-default:focus {
	color: white;
  background-color: #fb6464;
	border-color: #fb6464;
}

.page-header {
	border-color: #D9DDE7;
	margin-bottom: 30px;
}

.label {
	display: inline-block;
	min-width: 100px;
}

@media screen and (max-width: 1024px) {
	#main-content {
		max-width: 1024px;
	}
	.topics, .subjects, .review {
		.st_row {
			width: 100%;
		}

		.cards {
			.card-container {
				width: 30%;
			}
		}
	}

	.review {
		.cards {
			.card-container {
				width: 95% !important;
			}

			.answer {
				width: 95%;
			}
		}
	}
}