/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body {
	width: 100%;
	height: 100%;
}
body {
	margin: 0 0;
	padding: 0 0;
	display: flex;
	background: url(asset-path("swirl.png"));
	background-size: 100px;
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, span, label, input, textarea, td, th, a {
	margin: 0 0;
	padding: 0 0;
	font-size: 10px;
	font-family: 'Lato', sans-serif;
}
textarea {
	background: #fff;
	padding: 5px;
	border: 1px solid #eee;
	resize: none;
}
h1 {
	font-size: 20px;
}
a {
	text-decoration: none;
	color: #333;
}
a:hover {
	background-color: inherit;
	color: #000;
}
a:visited {
	color: #333;
}
a.btn {
	display: block;
	width: 25px;
	height: 25px;
	background-size: 25px;
}
form {
	width: 55%;
	label {
		display: inline-block;
		width: 100%;
	}
	label:after {
		content: ":";
	}
	input[type=text] {
		width: 100%;
		height: 20px;
		padding: 0 2px;
	}
	a {
		margin-right: 10px;
	}
	a:visited {
		color: #333;
	}
	input[type=submit] {
		background: transparent;
		border: 1px solid #86942A;
		border-radius: 2px;
		background: #86942A;
		color: white;
	}
	input[type=submit]:hover {
		background: #B0BD4E;
		border: 1px solid #B0BD4E;
	}
}

select {
	font-size: 15px;
	width: 100%;
}

table {
	width: 100%;
	border-collapse: collapse;
	td, th {
		text-align: center;
	}
	tr {
		border-bottom: 1px dashed #dd8;
	}
	.action {
		width: 20px;
	}
}

.right {
	float: right;
}
.left {
	float: left;
}

#left {
	width: 25%;
	flex-direction: column;
	border-right: 1px solid #fff;
	line-height: 18px;
}

 #home.top {
   a{
    background: url(asset-path("A+.png"));
    background-size:100%;
    display: inline-block;
    height: 32px;
    width: 32px;
   }
 }

#right {
	width: 75%;
	flex-direction: column;
	position: relative;
	background: url(asset-path("crossword.png"));
	background-size: 250px;

	#logo {
		display: none;
	}
}

#home {
	text-align: center;
	a:hover {
		color: #fff;
	}
}

#main-options {
	a {
		display: inline-block;
		margin-right: 10px;
		font-size: 1.5em;
		padding: 0.2em;
	}


	a:hover {
		text-decoration: underline;
		color: #45bbe6;
	}
}

#home, #main-options {
	padding: 0.75em 0 0.8em 0;
}

#main-options {
	padding-left: 10px;

}

#content {
	padding: 10px 0 25px 5px;
	background: inherit;
	width: 98%;
}

#topics-menu {
	margin: 25px 0;
}

.top {
	background-color: #507642;
	height: 20px;
	a {
		color: #fff;
		font-size: 2em;
	}
}

#topics-menu, .top {
	position: fixed;
	width: inherit;
	z-index: 2;
}

.styled-select {
	overflow: hidden;
	background: url(asset-path("down-arrow.svg")) no-repeat right #fff;
	border-right: 1px solid #dd8;
	background-size: 15px;

	select {
		padding-left: 0.5em;
		background: transparent;
		width: 110%;
		border: 0;
		height: 100%;
		-webkit-appearance: none;
	}
}

#subject-filter {
	display: flex;
	border-bottom: 0.2em solid #dd8;
	height: 30px;
	margin-top:1.25em;

	form {
		width: 100%;
		height: inherit;
	}
	.submit, .styled-select {
		flex-direction: column;
		display: inline-block;
	}
	.styled-select {
		float: center;
		width: 84%;
		height: inherit;
	}
	#search-submit {
		float:left;
		width: 15%;
		height: inherit;

		button {
			margin: 0;
			padding: 0;
			width: 100%;
			height: 100%;
			background: url(asset-path("search-icon.svg")) no-repeat #fff;
			background-size: 100% 100%;
			border: none;
			vertical-align: top;
		}

		button:hover {
			background-color: #fee;
		}
	}
}




#topics-list {
	line-height: 2em;
	font-size: 12px;

	p {
		margin: 0;
		display: inline-block;
		width: 94%;
		font-size: 9px;
		padding: 0 5px;
		border-bottom: 1px dashed #dd8;
	}



	.topic {
		border-bottom: 1px solid #dd8;
		padding: 2px 5px;
		background: #fff;
		line-height: 25px;

		a {
			font-size: 1.75em;
			display: inline-block;
		}

    a:hover {
      color: #45bbe6;
    }

		a:visited {
			color: #000;
		}

		span{
			display: inline-block;
			width: 5em;
			float: left;
			font-size: 11px;
			text-align: center;
			margin-right: 0.5em;
			margin-top: 0.2em;
			border-radius: 2px;
			color: #000;
		}
	}
}

.placeholder {
	color: #666;
	font-style: italic;
}

#title-bar {
	position: relative;
	z-index: 1;
	margin-top: 3em;
	padding: 5px 5px;
	h1 {
		display: inline-block;
	}
	a {
		float: right;
		display: inline-block;
		margin-right: 5px;
	}
}
#yield {
	margin-left: 10px;
	width: 90%;
	display: inline-block;
}

.destroy{
	background: url(asset-path("destroy.svg")) no-repeat center;
}

.edit{
	background: url(asset-path("edit.png")) no-repeat center;
}

#options-bar {
	z-index: 0;
	display: inline-block;
	width: 4%;
	padding: 0 1%;
	vertical-align: top;

	form {
		display: block;

		#reset {
			background: url(asset-path("box-cards.png")) no-repeat center;
			background-size: 25px;
			padding: 3%;
		}
	}
}

#options-bar, #topics-list {
	form {
		input[type=submit] {
			background: transparent;
			border: 0;
			width: 25px;
			height: 25px;
			padding: 0;
		}
		input[type=submit]:hover {
			cursor: pointer;
			cursor: hand;
		}
		#reviewing {
			background: url(asset-path("review-on.png")) no-repeat center;
			background-size: 25px;
		}
		#not-reviewing {
			background: url(asset-path("review-off.png")) no-repeat center;
			background-size: 25px;
		}
	}
}

#new-card {
	background: url(asset-path("new_card.png")) no-repeat center;
	background-size: 25px;
}
#cards {
	background: url(asset-path("cards.png")) no-repeat center;
	background-size: 25px;
}
#boxes {
	background: url(asset-path("all_boxes.png")) no-repeat center;
	background-size: 25px;
}


#topics-list, #subjects-list {
	ul {
  	list-style: none;
  	padding: 0;

  	li {
  		width: 90%;
  		display: block;
  		border-bottom: #ccc 1px dashed;

		  .info {
		  	display: inline-block;
		  	width: 80%;
		  	height: 25px;
		  	line-height: 2em;

	  		span {
	  			display: inline-block;
	  		}

	  		#code {
	  			width: 22%;
	  			text-align: center;
	  		}
	  		#link {
	  			width: 76%;
	  			a {
	  				display: inline-block;
		  			width: 100%;
	  			}
	  		}
		  	#link:hover {
					background-color: #efefef;
				}
		  }
  	}
  }
	.options {
		display: inline-block;

		.btn {
			display: inherit;
			vertical-align: bottom;
		}
	}
}

.bold {
	font-weight: bold;
}

#profile {
	color: white;
	font-size: 1em;
	margin-right: 0.5em;

	a {
		font-size: 1em;
	}
}

@media only screen and (min-width: 30em) {


}

@media only screen and (min-width: 50em) {

}

@media only screen and (max-width: 768px) {
	#left {
		display: none;
	}
	#main-options a, #profile {
		font-size: 0.8em;
	}
	#right {
		width: 100%;

		#logo {
			display: inline;
			color: white;
			margin-right: 1em;
		}
	}
}
