// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cards {
	.card_list {
		border-collapse: collapse;
		
		tr.list_line_odd, tr.list_line_odd + tr {
		  background-color: #e0f8f8;
		}

		td.content {
		  padding: 4px 4px;
		}

		td.small-cell {
		  width: 40px;
		}
	}
}