// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cards {
	form {
		width: 100%;

		// Bootstrap rewrite
		.col-sm-12 {
			padding: 0 30px;
		}
		.form-control {
			display: inline-block;
		}

		.side {
			display: inline-block;
			width: 45%;
			margin-right: 1em;
			box-shadow: 0px 2px 3px #ccc;

			textarea {
				height: 15em;
				padding: 0.5em;
				font-size: 0.8em;
			}
		}
		select {
			width: 45%;
		}
	}

	.filter {
		border-bottom: 1px solid #aaa;
		a {
			border: 1px solid #aaa;
			border-bottom: 0;
			border-right: 0;
			text-align: center;
			display: inline-block;
			width: 3.5em;
			margin-right: -0.25em;
		}
		a:last-child {
			border-right: 1px solid #aaa;
		}
		.active {
			background-color: #aaa;
		}
	}
}

@media screen and (max-width: 1024px) {
	.cards {
		form {
			.side {
				width: 95%;
			}
		}
	}
}