// Place all the styles related to the ReviewBox controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review_box {
	.card {
		width: 45%;
		display: inline-block;
		vertical-align: top;
		height: 11em;
		margin: 0 auto;
		padding: 5px;
		background-color: #fff;
		border: 1px solid #eee;
		box-shadow: 0 3px 3px 0 #ccc;

		textarea {
			width: 95%;
			height: 6em;
			margin-top: 0.5em;
			margin-bottom: 5px;
			border-color: #ccc;
			padding: 0.5em;
		}

		textarea#question_front {
			width: 100%;
			margin: 0px;
			border: medium none;
			height: 100%;
			padding: 0px;
		}

		textarea#question_front, textarea#question_back {
			color: black;
			text-align: center;
		}

		textarea#question_back {
			margin: 0;
			height: 4em;
		}

		textarea#answer {
			color: #555;
			height: 6.5em;
		}

		textarea#question_back, textarea#answer {
			border: none;
			width: 100%;
			padding: 0;
		}

		form {
			width: 100%;

			.answer {
				margin-top: 0.30em;
				width: 2em;
				height: 1em;
				display: inline-block;
			}
			.answer:first-child {
				margin-right: 20%;
			}

			#check, #wrong {
				color: transparent;
			}

			#check {
				width: 100%;
				heigth: 100%;
				background: url(asset-path("check.png")) no-repeat center;
				background-size: 100%;
			}

			#wrong {
				width: 100%;
				heigth: 100%;
				background: url(asset-path("wrong.png")) no-repeat center;
				background-size: 100%;
			}

		}
		p#front {
			line-height: 115px;
		}
		p.question, p.answer {
			text-align: center;
		}
	}
	#card:first-child {
		margin-right: 10px;
	}
}

@media only screen and (max-width: 1290px) {
  .review_box {
		.card {
			width: 95%;
		}
		.card:first-child {
			margin-bottom: 1em;
		}
	}
}