// Place all the styles related to the ReviewBox controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review_box {
	#card {
		width: 45%;
		display: inline-block;
		vertical-align: top;
		height: 9em;
		margin: 0 auto;
		padding: 5px;
		background-color: #fff;
		border: 1px solid #eee;
		box-shadow: 0 3px 3px 0 #ccc;

		form {
			width: 100%;
			#u_answer {
			  width: 97%;
				height: 60px;
				margin-bottom: 5px;
			}
		}
		p#front {
			line-height: 115px;
		}
		p.question, p.answer {
			text-align: center;
		}
	}
	#card:first-child {
		margin-right: 10px;
	}
}
