// Place all the styles related to the ReviewBox controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review_box {
	#card {
		width: 45%;
		display: inline-block;
		vertical-align: top;
		height: 9em;
		margin: 0 auto;
		padding: 5px;
		background-color: #fff;
		border: 1px solid #eee;
		box-shadow: 0 3px 3px 0 #ccc;

		form {
			width: 100%;
			#u_answer {
			  width: 97%;
				height: 60px;
				margin-bottom: 5px;
			}
		}
		p#front {
			line-height: 115px;
		}
		p.question, p.answer {
			text-align: center;
		}
	}
	#card:first-child {
		margin-right: 10px;
	}

	#todays_study {
		ul {
			list-style: none;
			padding: 0;

			li {
				padding-top: 0.5em;

				a {
					vertical-align: bottom;

					.box {
						display: inline-block;
						width: 1.5em;
						height: 1.5em;
						vertical-align: inherit;
					}

					.b1 {
						background: url(asset-path("box1_half.png")) no-repeat center;
						background-size: 100%;
					}
					.b2 {
						background: url(asset-path("box2_half.png")) no-repeat center;
						background-size: 100%;
					}
					.b3 {
						background: url(asset-path("box3_half.png")) no-repeat center;
						background-size: 100%;
					}
				}

				a:hover {
					color: #000;
				}
			}
			li:first-child {
				padding-top: 0;
			}
		}
		#subject {
			display: inline-block;
			width: 6em;
			height: 1.5em;
			text-align: center;
			border-radius: 0.2em;
			color: white;
			font-size: 0.75em;
		}
	}
}