body {
  background-color: #fff;
  color: #333;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #d42d2d;
  &:visited {
    color: #d42d2d;
  }
  &:hover, &:active {
    color: #fb6464;
    text-decoration: none;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: #6D929B;
  display: table;
}

#error_explanation {
  width: 50%;
  border: 2px solid #A94442;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background: #fff;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -8px;
    margin-bottom: 0px;
    background-color: #A94442;
    color: #fff;
  }
  ul {
    padding: 6px;
  }
  ul li {
    color: #A94442;
    font-size: 12px;
    list-style: none;
  }
}

.flash-messages {
  margin: 0;
  padding: 0;
  font-size: 12px;
  list-style: none;

  .flash-message {
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 20px;

    &.flash-message-success {
      color: #3C763D;
      background-color: #DFF0D8;
      border-color: #D6E9C6;
    }

    &.flash-message-info {
      color: #31708F;
      background-color: #D9EDF7;
      border-color: #BCE8F1;
    }

    &.flash-message-warning {
      color: #3C763D;
      background-color: #DFF0D8;
      border-color: #D6E9C6;
    }

    &.flash-message-error{
      color: #3C763D;
      background-color: #DFF0D8;
      border-color: #D6E9C6;
    }
  }
}
