// Place all the styles related to the ShareRequest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.share_request {
	.option {
		text-decoration: none;
		color: #7DB07D;
	}

	.option:hover {
		background-color: inherit;
		color: #9BCE9B;
	}
	
	#notifications {
		ul {
			li {
				.sender, .topic, .subject {
					font-weight: bold;
				}
				.sender {
					color: #bc727a;
				}
				.topic {
					color: #ff6666;
				}
				.subject {
					color: #8d6590;
				}

				a {
					margin-left: 1em;
				}
			}
		}
	}
}