// Place all the styles related to the ShareRequest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.share_request {	
	#notifications {
		ul {
			li {
				padding: 10px 0;
				border-bottom: 1px solid #D9DDE7;
				list-style: none;

				.sender, .topic, .subject {
					font-weight: bold;
				}
				.sender {
					color: #bc727a;
				}
				.topic {
					color: #ff6666;
				}
				.subject {
					color: #8d6590;
				}

				a {
					margin-left: 1em;
				}
			}
		}
	}

	.collaborators {
		list-style: none;

		.collaborator {
			display: inline-block;
			border-radius: 5px;
			border: 1px solid #fb6464;
			padding: 5px;
			margin-right: 10px;
			margin-bottom: 10px;

			img {
				border-radius: 100%;
			}

			a {
				vertical-align: text-bottom;
			}
		}
	}
}

