// Place all the styles related to the Subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.subjects {
	span.archived {
		font-style: italic;	

		a {
			color: #999 !important;
		}
	}

	.title {
		#archive {
		  position: relative;
		  top: -54px;
		  right: 120px;
		}
	}

	#cards-list {
		.row {
			margin-top: 15px;
		}
	}

	#archive {
		vertical-align: top;
	}

	a.archive {
		color: #242424;
		border-color: #242424;
	}

	a.archive:hover, a.archive:focus {
		color: white;
	  background-color: #242424;
		border-color: #242424;
	}

	a.archived {
		color: white;
	  background-color: #242424;
		border-color: #242424;
	}

	a.archived:hover, a.archived:focus {
		color: #242424;
	  background-color: white;
		border-color: #242424;
	}

	#cards-list {
		display: block;
	}
}
