// Place all the styles related to the Subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.subjects {
	.archived {
		background-color: #eee;
		font-style: italic;	
		color: #999;
	}
	#archive{
		background: url(asset-path("archive.svg")) no-repeat center;
	}
}
