// Place all the styles related to the Subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.subjects {
	table {
		tr.archived {
			background-color: #eee;
			font-style: italic;	color: #999 !important;
		}
		#archive{
			background: url("images/archive.svg") no-repeat center;
			background-size: 15px;
		}
	}
}
