// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topics {
	.info {
		width: 80%;
	  display: inline-block;

		h4 {
			margin-bottom: 10px;
		}
		p {
			font-size: 0.8em;
			margin-bottom: 5px;
		}

	}

	.buttons {
		display: inline-block;
	  vertical-align: top;
	}
}