// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topics {
	.info {
		h4 {
			margin-bottom: 10px;
		}
		p {
			font-size: 0.8em;
			margin-bottom: 5px;
		}
	}

	.destroy{
		background-size: 2em;
	}
	.edit{
		background-size: 2em;
	}

	#filter {
		width: 40%;
		margin-bottom: 1em;
		margin-left: 59%;

		form {
			width: 100%;
		}

		#subject-list {
			border-width: medium medium 1px;
			border-style: none none solid;
			border-color: -moz-use-text-color -moz-use-text-color #CCC;
			width: 80%;
		}

		#submit {
			display: inline-block;
			width: 13%;
			vertical-align: bottom;
		}
	}

	.card-container {
		width: 30%;
		display: inline-block;
		vertical-align: top;
		text-align: center;
		margin: 0.25em;
		height: 7em;

		.values {
			width: 84%;
			height: 100%;
			display: inline-block;
			background-color: #fff;
			border: 1px solid #e8d9f6;
			box-shadow: 0 3px 3px 0 #ccc;
			line-height: 1em;
			word-wrap: break-word;

			.question {
				height: 30%;
				font-weight: bold;
				border-bottom: 1px dashed #888;
				font-size: 0.8em;
			}
			.answer {
				height: 45%;
				color: #666;
				font-size: 0.6em;
			}

			.question, .answer{
				padding: 0.5em 0.2em;
				width: 97%;
			}
		}
		.options {
			vertical-align: top;
			width: 12%;
			display: inline-block;
		}
	}

	#study {
		position: absolute;
		top: 95px;
		right: 170px;
	}
}