// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.welcome {
  #head {
    width: 100%;
    height: 100%;

    h1{
      margin-top: 5em;
      text-align: center;
      font-family: 'Lato', sans-serif;
      font-size: 3em;
      line-height: 1em;
      font-weight: 300;
    }

    h2{
      margin-top:0.50em;
      margin-left: 2em;
      margin-right: 2em;
      text-align: center;
      font-family: 'Lato', sans-serif;
      font-size: 1.7em;
      line-height: 1.25em;
      font-weight: 300;
    }

    #image{
      width: 28em;
      margin: 0 auto;

      img{
        width: 9em;
        height: 9em;
        display: inline-block;
      }
    }

    #login {
      margin: 0 45%;
    }

    #twitter, #gmail, #facebook {
      width: 158px;
      height: 28px;
    }

    #twitter {
      background: image-url("sign-in-with-twitter.png") no-repeat center;
    }

    #facebook {
      background: image-url("facebook.png") no-repeat center;
      background-size: 158px 28px;
    }

    #gmail {
      border-radius: 3px;
      background: image-url("sign-in-with-google.png") no-repeat center;
      background-size: 158px 28px;

      a {
        color: white;
        display: block;
      }
    }

    a{
      display: inline-block;
      width: 158px;
      height: 28px;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 550px) {
  .welcome{
    #head {
      h1{
        font-size: 4.5em;
        line-height: 1em;
        margin-bottom: 0.5em;
      }

      #login {
        margin: 0 25%;
      }
    }
  }
}

@media only screen and (min-width: 400px) and (max-width: 550px) {
  .welcome{
    #head {
      #login {
        margin: 0 35%;
      }
    }
  }
}

@media screen and (min-width: 551px) and (max-width: 800px) {

  .welcome{
    #head {
      h1{
        font-size: 4em;
      }
      #image {
        width: 22em;
          
        img {
          width: 7em;
          height: 7em;
        }
      }

      #login {
        margin: 0 40%;
      }
    }
  }
}