// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  .welcome {

    h1{
       width: 100%;
       margin-top:30%;
       text-align: center;
       font-family: verdana, arial, helvetica, sans-serif;
       font-size: 72px;

       }

    h2{
       text-align: center;
       font-size: 72px;
       background: url(sign-in-with-twitter.png) no-repeat center;
			#twitter {
				background: url(sign-in-with-twitter.png) no-repeat center;
				background-size: 20px;
				font-size: 72px;
			}

			}

			}
